header_height=60px
bg-theme-color=#fff
bg-modifier-color=#ebf7ff
line-theme-color=linear-gradient(90deg,#ff0,#7fffd4)
line-modifier-color=#fff
box-shadow-color=#aaaaaa
font-theme-color=#242424
font-modifier-color=#AAAAAA
font-title-color=#555
border-theme-color=#DCDFE6

radius-theme-size=4px
bg-color-red = #FF4E50
bg-color-orange = #FA6900
bg-color-blue = #69D2E7
bg-color-green = #A7DBD8

padding-space=8px
font-size-h=12px;
font-size-p=16px